.navbar {
    background-color: #baf69c; 
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    padding: 0 20px;
  }
  
  .navbar-logo {
    color: #333; 
    font-size: 1.5rem; 
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-links {
    color: #333; 
    text-decoration: none;
  }
  
  .nav-links:hover {
    color: #ff4500; 
  }
  

  .home-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: row; /* Arrange items side by side */
    align-items: center; /* Align items vertically */
  }
  
  .image-container {
    flex: 1; /* Take up available space */
  }
  
  .text-container {
    flex: 2; /* Take up twice as much space as image-container */
    padding: 0 20px; /* Add some spacing between image and text */
  }
  
  .signup-button {
    text-decoration: none; /* Remove underline */
    color: black; /* Set font color to black */
  }
  
  .signup-button:hover {
    color:red; 
  }     